h1 {
    color: blue;
}

p {
    color: darkgreen;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
}

h2 {
    color: blueviolet;
    font-size: xx-large;

}

ul {
    color: rgb(255, 0, 60);
    font-size: xx-large;
}

.footer-class {
    font-size: small
}